* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(31, 31, 31);
  text-align: center;
}

h2 {
  position: absolute;
  top: 10%;
  left: 41%;
  font-style: italic;
  font-size: 40px;
  color: dodgerblue;
}

.mybutton {
  height: 4rem;
  width: 8rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
  background-color: steelblue;
  color: antiquewhite;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#yesbutton {
  position: absolute;
  top: 40%;
  left: 45%;
}
#nobutton {
  position: absolute;
  top: 40%;
  left: 55%;
}